.item {
  display: flex;
  margin-bottom: 8px;
}

.itemContent {
  padding: 4px 0;
}

.item img {
  margin-right: 24px;
}

.item:hover {
  background-color: rgba(50, 152, 220, 0.1);
  cursor: pointer;
}

.question {
  font-weight: bold;
}

.choices {
  margin-left: 26px;
  font-size: 13px;
}
